@model proje.Models.Kategoriler

@{
    ViewBag.Title = "Details";
}

<h2>Detay</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.kategoriId }) |
    @Html.ActionLink("Geri dön", "Index")
</p>
